.navigation {
	font-size: small;
	text-align: center;
	background: #c8c7cc;
	color: black;
	padding: 0.6em;
}


.header {
	text-align: right;
	background: #c8c7cc;
	color: black;
	font-size: small;
	display: block;
	padding: 0.6em;
}


.footer {
	font-size: small;
	display: block;
	padding: 0em 0em 2em 0em;
}


.left {
	text-align: left;
	float: left;
	position: relative;
}


.middle {
	text-align: center;
}


.right {
	text-align: right;
	float: right;
	position: relative;
}

.title {
	color: black;
	font-family: sans-serif;
	font-size: xx-large;
	text-align: left;
	display: block;
	padding: 1em 0em 0em 0em;
}


.topictitle {
	color: black;
	font-family: sans-serif;
	font-size: x-large;
	text-align: left;
	display: block;
	padding: 1em 0em 0em 0em;
}


.subtopictitle {
	color: black;
	font-family: sans-serif;
	font-size: large;
	text-align: left;
	display: block;
}


a:link {
	color: #bb0000;
	text-decoration: none;
}

.name {
	color: black;
	text-decoration: none;
}

a:visited {
	text-decoration: none;
	color: #bb0000;
	outline: none;
}

a:hover {
	text-decoration: none;
	color: #bb0000;
	background: #c8c7cc;
}

a:active {
	color: #bb0000;
	text-decoration: none;
}


a > code {
	color: #bb0000;
	font-family: monospace;
	font-size: large;
}

code {
	color: black;
	font-family: monospace;
	font-size: large;
}


p {
  line-height: normal;
  font-weight: normal;
  font-style: normal;
}


body {
	color: black;
	font-size: medium;
	font-family: verdana, arial, sans-serif;
	background: white;
	padding: 0.6em;
}

pre {
	color: black;
	font-family: monospace;
	font-size: large;
}

h1 { 
	color: black;
	font-family: sans-serif;
}

h2 { 
	color: black;
	font-family: sans-serif;
}

h3 { 
	color: black;
	font-family: sans-serif;
}

h4 { 
	color: black;
	font-family: sans-serif;
}

h5 { 
	color: black;
	font-family: sans-serif;
}

center {
	text-align: center;
}

.center {
	text-align: center;
}

tr {
	text-align: center;
}

td {
	font-weight: normal;
	background: gray;
	color: white;
	padding: 0.4em;
}

.data {
	text-align: right;
}

.bestdata {
	text-align: right;
	color: yellow;
}
